@font-face {
	font-family: "GlebastaFont";
	src: url(./fonts/century_gothic.ttf) format("truetype");
}

@font-face {
	font-family: "GlebastaFontBig";
	src: url(./fonts/big.ttf) format("truetype");
}

@font-face {
	font-family: "GlebastaExtraBold";
	src: url(./fonts/Geometria-ExtraBold.ttf) format("truetype");
}

@font-face {
	font-family: "GlebastaBetina";
	src: url(./fonts/12003.otf) format("opentype");
}

@font-face {
	font-family: "GlebastaDays";
	src: url(./fonts/Days.otf) format("opentype");
}
