.SuperFooter {
	position: relative;

	height: 270px;

	background: linear-gradient(
		180deg,
		rgba(0, 28, 112, 1) 0%,
		rgba(12, 0, 71, 1) 100%
	);

	.main {
		position: absolute;

		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;

		resize: none;

		width: 1200px;

		display: inline-block;

		.copyright {
			position: absolute;

			left: 0;
			right: 0;
			bottom: 13px;

			margin: auto;

			color: #fff;

			z-index: 1;

			font-size: 15px;
		}

		.logo {
			position: absolute;

			bottom: 119px;
			left: 60px;

			color: #fff;

			z-index: 2;

			display: flex;
			align-items: center;
			justify-content: center;

			text-decoration: none;

			.label {
				font-size: 14px;

				display: inline-block;

				margin-left: 15px;

				.top {
					font-size: 32px;

					font-family: GlebastaFontBig;
				}
			}
		}

		.col {
			position: absolute;
			bottom: 110px;

			z-index: 2;

			text-align: left;

			&.contacts {
				bottom: 48px;
			}
		}

		.left-col {
			left: 470px;
		}

		.right-col {
			left: 660px;
		}

		.left-col a,
		.right-col a {
			display: block;

			text-decoration: none;

			color: #fff;

			font-size: 20px;

			margin-bottom: 10px;
		}

		.contacts {
			right: 60px;

			.top {
				display: flex;

				margin-bottom: 15px;

				.pics {
					border-right: 1px solid #fff;

					padding-right: 10px;

					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: space-around;

					.pic {
						display: block;
					}
				}

				.links {
					color: #fff;

					margin-left: 20px;

					.tel-wrapper {
						.label {
							white-space: nowrap;
						}

						.tel {
							color: #fff;

							text-decoration: none;
						}

						&.first {
							.label {
								font-size: 13px;
							}

							.tel {
								font-size: 15px;
							}
						}

						&.second {
							.label {
								font-size: 13px;
							}

							.tel {
								font-size: 16px;
							}
						}

						&.thirth {
							.label {
								font-size: 12px;
							}

							.tel {
								font-size: 15px;
							}
						}
					}

					.email {
						color: #fff;

						text-decoration: none;

						margin-top: 10px;

						display: inline-block;

						font-size: 14px;
					}
				}
			}

			.bottom {
				text-align: center;

				a {
					margin: 0 10px;
				}
			}
		}
	}
}
